<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv='refresh' content='0; URL=http://fabien.vergnet.pages.math.cnrs.fr'>
    <script type="text/javascript">
      window.location.href = "http://fabien.vergnet.pages.math.cnrs.fr"
  </script>
  </head>
  <body>
    <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
    If you are not redirected automatically, follow this <a href='http://fabien.vergnet.pages.math.cnrs.fr'>link to example</a>.
</body>
</html>
